<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-b-test"
        version="1.2.2">

    <name>BootFidelity</name>
    <description>Cordova Plugin for Boot Fidelity</description>
    <license>MIT</license>

    <repo>https://github.com/BlueFidelity/cordova-plugin-b-test</repo>
    <issue>https://github.com/BlueFidelity/cordova-plugin-b-test/issues</issue>

    <keywords>cordova,intent,share,send,file,android</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BootFidelity">
                <param name="android-package" value="com.bluefidelity.cordova.plugin.bootfidelity.BootFidelity"/>
            </feature>
        </config-file>

        <js-module src="www/android/BootFidelity.js" name="BootFidelity">
            <clobbers target="BootFidelity" />
        </js-module>

        <source-file src="src/android/BootFidelity.java" target-dir="src/com/bluefidelity/cordova/plugin/bootfidelity" />

    </platform>

</plugin>
